.slider {
  padding: 16px;
  display: flex;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow: hidden;
  z-index: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(100% - 44px);
  transform: translateX(calc(var(--slide, 0) * 100% * -1 + 20px));
}

.slide[data-selected=false] {
  opacity: 0;
}
