.exp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.exp::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(var(--exp-progress));
  transform-origin: left;
  background-color: var(--tg-theme-accent-text-color);
  z-index: -1;
}