.nes-slider {
  position: relative;
  appearance: none;
  height: 4px;
  padding: 2px;
  border-image-repeat: stretch !important;
  cursor: pointer;
}


.nes-slider::-webkit-slider-thumb {
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 32px;
  border: 4px solid var(--tg-theme-text-color);
  background-color: var(--tg-theme-button-color);
  z-index: 10;
}

.nes-slider::before {
  pointer-events: none;
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 4px);
  transform: scaleX(var(--slider-progress));
  transform-origin: left;
  height: 100%;
  background-color: var(--tg-theme-subtitle-text-color);
}