.nes-container {
  border-image-outset: 2 !important;
  border-image-repeat: stretch !important;
  background-color: var(--tg-theme-secondary-bg-color);
}

.nes-container.with-title svg {
  position: absolute;
  transform: translate(-12px, -24px);
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
}

.nes-container.with-title .nes-container__outline {
  stroke: var(--tg-theme-secondary-bg-color);
  stroke-width: 6px;
  stroke-linejoin: round;
}

.nes-container.with-title .nes-container__text {
  fill: var(--tg-theme-text-color);
}

.nes-container.with-title > .title {
  -webkit-text-fill-color: var(--tg-theme-secondary-bg-color);
  -webkit-text-stroke: 1px;
  font-size: 18px;
  /* -webkit-text-stroke: 2px var(--tg-theme-secondary-bg-color); */
  background-color: transparent;
}
