body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

button {
  font-family: var(--tgui--font-family);
}

div {
  font-family: var(--tgui--font-family);
}

@font-face {
  font-family: 'Pixeloid';
  src: url('fonts/PixeloidSans.woff2') format('woff2');
  font-weight: normal;
}


@font-face {
  font-family: 'Pixeloid';
  src: url('fonts/PixeloidSans-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'PixeloidMono';
  src: url('fonts/PixeloidMono.woff2') format('woff2');
}